{% extends "socialaccount/base_entrance.html" %}
{% load allauth i18n %}
{% load socialaccount %}
{% load static %}
{% block head_title %}
    Signin
{% endblock head_title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'socialaccount/css/login.css' %}">
{% endblock extra_head %}

{% block content %}

    <section class="section">
        <div class="container">
            <div class="title">
                <div class="logo">
                    <p>
                        <span class="first-word">Py</span> Academia
                    </p>
                </div>
                <div class="bottom-bar">

                </div>
            </div>

            <div class="container-content">
                <div class="google-logo">
                    <img src="{% static 'socialaccount/images/google-icon40.png' %}" alt="google-login-icon">
                </div>

                <div class="content-title">
                    <h1>Sign in with google</h1>
                </div>
                <div class="content-text">
                    <p>You are about to sign in using a third-party account from Google.</p>
                </div>
                <div class="bottom-bar">

                </div>

                <div class="form">
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- {% if process == "connect" %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        {% endelement %}
        <p>
            {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
        </p>
    {% else %}
        {% element h1 %}
            {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
        {% endelement %}
        <p>
            {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
        </p> -->
    <!-- {% endif %}
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            {% element button type="submit" %}
                {% trans "Continue" %}
            {% endelement %}
        {% endslot %}
    {% endelement %} -->
{% endblock content %}
