{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load socialaccount %}
{% load static %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock extra_head %}
{% block content %}
<div class="bg-white p-8 rounded-lg shadow-lg max-w-md w-full space-y-6">
    <h2 class="text-2xl font-bold text-center">Login to Your Account</h2>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <p class="w-full  bg-red-600 text-white py-2 px-4 text-center">{{ message }}</p> 
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <div class="w-full  bg-red-600 text-white py-2 px-4 text-center">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <form class="space-y-4" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            {{form.login}}
            {% for error in form.login.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
            {{form.password}}
            {% for error in form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="flex items-center justify-between">
            <div class="text-sm">
                <a href="{% url 'account_reset_password' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Forgot your password?</a>
            </div>
        </div>
        
        <div>
            <button type="submit"
                    class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Log in
            </button>
        </div>
    </form>
    <div class="text-center text-sm text-gray-500">
        New here? 
        <a href="{{ signup_url }}" class="font-medium text-indigo-600 hover:text-indigo-500">Join now</a>
    </div>
    <div class="relative">
        <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500">or</span>
        </div>
    </div>
    <div>
        <a href="{% provider_login_url 'google' %}"
                class="w-full inline-flex justify-center py-2 px-4 items-center gap-2 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <img src="{% static 'account/images/google-icon40.png' %}" alt="">
            Continue with Google
        </a>
    </div>
</div>


{% endblock content %}


