
{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% tailwind_css %}
    {% block tailwind_block %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <style>
        .carousel-container {
            position: relative;
            overflow: hidden;
        }
        .carousel-track {
            display: flex;
            transition: transform 0.5s ease;
        }
        .carousel-item {
            flex: 0 0 calc(100% / 3);
        }
        .carousel-buttons {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        @media (min-width: 1024px) {
            #menu-toggle {
                display: none;
            }
            #mobile-menu {
              display: none;
            }
        }
        
    </style>

</head>
<body  class="bg-gray-100 font-sans">  
    

    <header class="bg-white shadow-md mb-4">
        <div class="container mx-auto flex justify-between items-center p-4 lg:px-12">
            <a class="cursor-pointer text-3xl text-indigo-600 font-bold" href="#">PyAcademia</a>
            <nav class="hidden lg:flex gap-4">
                <a class="{% if request.path == '/' %}text-indigo-600 {% else %} text-gray-600 {% endif %}  font-medium cursor-pointer hover:text-indigo-600" href="{% url 'home:home' %}">HOME</a> 
            <a class="{% if request.path == '/feed/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'feed:feed' %}">FEED</a> 
            <a class="{% if request.path == '/network/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'network:network' %}">NETWORK</a> 
            <a class="{% if request.path == '/blogs/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'articles:articles' %}">BLOGS</a> 
            <a class="{% if request.path == '/projects/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'projects:projects' %}">PROJECTS</a>
            <a class="{% if request.path == '/resources/videos/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'resources:videos' %}">RESOURCES</a>
            <a class="{% if request.path == '/chat/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'chat:chat' %}">CHAT</a>
            </nav>
            <div class="hidden lg:flex items-center space-x-4">
                <form action="{% url 'network:search' %}" method="post" class="relative">
                    {% csrf_token %}
                    <input
                        type="text"
                        id="search-query"
                        name="search-query"
                        placeholder="Search for..."
                        class="rounded-md border-gray-200 py-2.5 pr-10 shadow-sm sm:text-sm"
                    />
                    <span class="absolute inset-y-0 right-0 grid w-10 place-content-center">
                        <button type="submit" class="text-gray-600 hover:text-gray-700">
                            <span class="sr-only">Search</span>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-4 w-4"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                                />
                            </svg>
                        </button>
                    </span>
                </form>
                <div class="flex items-center justify-center rounded-full border border-indigo-600 w-12 h-12">
                    <a href="#" class="flex items-center justify-center">
                        <i class="fas fa-user text-indigo-600 text-2xl"></i>
                    </a>
                </div>
            </div>
            <div class="lg:hidden">
                <button id="menu-toggle" class="text-gray-600 hover:text-gray-700 focus:outline-none">
                    <i class="fas fa-bars text-2xl"></i>
                </button>
            </div>
        </div>
        <nav id="mobile-menu" class="hidden lg:hidden bg-white shadow-md p-4 space-y-2">
            <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'home:home' %}">HOME</a> 
            <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'feed:feed' %}">FEED</a> 
            <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'network:network' %}">NETWORK</a> 
            <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'articles:articles' %}">BLOGS</a> 
            <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'projects:projects' %}">PROJECTS</a>
            <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'resources:videos' %}">RESOURCES</a>
            <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'chat:chat' %}">CHAT</a>
            <form action="{% url 'network:search' %}" method="post" class="relative">
                {% csrf_token %}
                <label for="mobile-search-query" class="sr-only">Search</label>
                <input
                    type="text"
                    id="mobile-search-query"
                    name="search-query"
                    placeholder="Search for..."
                    class="w-full rounded-md border-gray-200 py-2.5 pr-10 shadow-sm sm:text-sm"
                />
                <span class="absolute inset-y-0 right-0 grid w-10 place-content-center">
                    <button type="submit" class="text-gray-600 hover:text-gray-700">
                        <span class="sr-only">Search</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-4 w-4"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                            />
                        </svg>
                    </button>
                </span>
            </form>
        </nav>
    </header>


   
    {% block content %}
    
    {% endblock %}

    <script>
        document.getElementById('menu-toggle').addEventListener('click', function() {
            var menu = document.getElementById('mobile-menu');
            menu.classList.toggle('hidden');
        });
    </script>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
