{% extends 'base.html' %}

{% block content %}
<div>
    <h2>User Profile</h2>
    <p>Name: {{ user_profile.user.username }}</p>
    <p>Skill: {{ user_profile.skill }}</p>
    <hr>
</div>

<div>
    <h1>Users with the same skill</h1>
        <ul>
            {% for skill_user in related_skill_users %}
            {{skill_user}}
                <li>{{ skill_user.user.email }}</li>
                <li>{{ skill_user.user.profile.age }}</li>
                <li>{{ skill_user.user.username }}</li>
            {% endfor %}
        </ul>
        <hr>
    <h1>Users with the same university</h1>

        <ul>
            {% for usera in related_uni_users %}
                <li>{{ usera.user.email }}</li>
            {% endfor %}
        </ul>
        <hr>

        <h2>Other Users</h2>
        <ul>
            {% for user in other_users %}
                <li>{{ user.username }}</li>
            {% empty %}
                <li>No other users found.</li>
            {% endfor %}
        </ul>
</div>
{% endblock %}
