
{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    {% tailwind_css %}
    {% block tailwind_block %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    {% block custom_styles %}
    {% endblock %}
    <style>
      @media (min-width: 1024px) {
          #menu-toggle {
              display: none;
          }
          #mobile-menu {
            display: none;
          }
      }
      
  </style>

</head>
<body  class="font-sans font-medium bg-gray-50">       
  <header class="bg-white shadow-md fixed top-0 w-full">
    <div class="container mx-auto flex justify-between items-center p-4 lg:px-12">
        <a class="cursor-pointer text-3xl text-indigo-600 font-bold" href="{% url 'home:home' %}">PyAcademia</a>
        <nav class="hidden lg:flex gap-4">
            <a class="{% if request.path == '/' %}text-indigo-600 {% else %} text-gray-600 {% endif %}  font-medium cursor-pointer hover:text-indigo-600" href="{% url 'home:home' %}">HOME</a> 
            <a class="{% if request.path == '/feed/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'feed:feed' %}">FEED</a> 
            <a class="{% if request.path == '/network/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'network:network' %}">NETWORK</a> 
            <a class="{% if request.path == '/blogs/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'articles:articles' %}">BLOGS</a> 
            <a class="{% if request.path == '/projects/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'projects:projects' %}">PROJECTS</a>
            <a class="{% if request.path == '/resources/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'resources:videos' %}">RESOURCES</a>
            <a class="{% if request.path == '/chat/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'chat:chat' %}">CHAT</a>
        </nav>
        <div class="lg:flex items-center space-x-4">
        </main>
            {% if request.user.is_authenticated %}
            <a class="text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a class="text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'account_login' %}">Login</a>
            <a class="text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'account_signup' %}">Signup</a>
            {% endif %}
        </div>
        <div class="lg:hidden">
            <button id="menu-toggle" class="text-gray-600 hover:text-gray-700 focus:outline-none">
                <i class="fas fa-bars text-2xl"></i>
            </button>
        </div>
    </div>
    <nav id="mobile-menu" class="hidden lg:hidden bg-white shadow-md p-4 space-y-2">
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'home:home' %}">HOME</a> 
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'feed:feed' %}">FEED</a> 
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'network:network' %}">NETWORK</a> 
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'articles:articles' %}">BLOGS</a> 
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'projects:projects' %}">PROJECTS</a>
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'resources:videos' %}">RESOURCES</a>
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'chat:chat' %}">CHAT</a>
        
    </nav>
</header>


        <main class="mt-16">
        {% block content %}
        {% endblock %}
    </main>


        <script>
          document.getElementById('menu-toggle').addEventListener('click', function() {
              var menu = document.getElementById('mobile-menu');
              menu.classList.toggle('hidden');
          });
      </script>
</body>
</html>
