{% extends 'home/base.html' %}
{% load static %}

{% block title %}
PyAcademia | Home
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<section class="flex items-center justify-center h-screen bg-cover bg-center" style="background-image: url('{% static 'images/home-bg-image.avif' %}');">
    <!-- Content -->
    <div class="text-center text-white p-4 max-w-2xl mx-auto">
        <h1 class="text-4xl md:text-6xl font-extrabold mb-4 leading-tight drop-shadow-lg">Welcome to PyAcademia</h1>
        <p class="text-lg md:text-2xl mb-6 leading-relaxed drop-shadow-lg">Connect, Collaborate, and Learn with your peers and fellow students</p>
        <a href="{% url 'feed:feed' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 px-8 rounded-lg text-lg transition duration-300 shadow-lg transform hover:scale-105">Get Started</a>
    </div>
</section>
{% endblock %}
