<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyAcademia | Private Chat</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* CSS for messages sent by the current user */
        .message-sent {
            justify-content: flex-end;
        }

        /* CSS for messages sent by other users */
        .message-received {
            justify-content: flex-start;
        }
    </style>
</head>
<body class="bg-gray-100 font-sans">

<div class="flex h-screen">
    <!-- User List -->
    <div class="w-1/4 bg-gray-200 overflow-y-auto p-4">
        <h1 class="text-lg font-semibold mb-4">Chat Users {{ user_2.id|json_script:'user_2id' }}</h1>
        <!-- Sample user list -->
        {% for room in rooms %}
            {% if room.user1 == user_1 %}
                {% with other_user=room.user2 %}
                    <a href="{% url 'chat:private_chatroom' other_user.id %}" class="{% if other_user.id == user_2.id %}bg-indigo-600 hover:bg-indigo-700{% endif %} px-4 flex items-center py-3 border-b rounded-2xl hover:bg-gray-300 transition-colors duration-300">
                        {% if other_user.profile.profile_img %}
                            <img src="{{ other_user.profile.profile_img.url }}" alt="User" class="h-12 w-12 rounded-full mr-4 shadow-md">
                        {% else %}
                            <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="User" class="h-12 w-12 rounded-full mr-4 shadow-md">
                        {% endif %}
                        <span class="text-lg font-semibold">{{ other_user.username }}</span>
                    </a>
                {% endwith %}
            {% else %}
                {% with other_user=room.user1 %}
                    <a href="{% url 'chat:private_chatroom' other_user.id %}" class="{% if other_user.id == user_2.id %}bg-indigo-600 hover:bg-indigo-700{% endif %} px-4 flex items-center py-3 border-b rounded-2xl hover:bg-gray-300 transition-colors duration-300">
                        {% if participant_user.profile.profile_img %}
                            <img src="{{ other_user.profile.profile_img.url }}" alt="User" class="h-12 w-12 rounded-full mr-4 shadow-md">
                        {% else %}
                            <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="User" class="h-12 w-12 rounded-full mr-4 shadow-md">
                        {% endif %}
                        <span class="text-lg font-semibold">{{ other_user.username }}</span>
                    </a>
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>

    <!-- Chat Section -->
    <div class="w-3/4 bg-white p-4">
        <!-- Chat Messages -->
        <div id="message-container" class="h-4/5 bg-gray-100 overflow-y-auto p-4 mb-4">
            
            <!-- Add more chat messages here -->
        </div>

        <!-- Chat Input -->
        <div class="flex items-center">
            <input id="message-input-text" type="text" class="flex-1 border border-gray-300 p-3 mr-2 focus:outline-none focus:ring focus:border-blue-500 rounded-lg" placeholder="Type your message...">
            <button id="message-submit-btn" class="bg-blue-500 text-white px-4 py-3 rounded-lg hover:bg-blue-600 transition-colors duration-300">Send</button>
        </div>
    </div>
</div>

<script>
    const user2Id = JSON.parse(document.getElementById('user_2id').textContent);
    console.log('User 2 ID:', user2Id);

    var awsc = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/wsc/private_chatroom/'
        + user2Id
        + '/'
    );

    awsc.onopen = function(){
        console.log('WebSocket connection established');
    };

    awsc.onmessage = function(event){
        console.log('message receive from server...', event);
        console.log('message receive from server...', event.data);
        const data = JSON.parse(event.data);
        
        if (data && data.private_message && data.sender) {
            const messageContainer = document.getElementById('message-container');
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('flex', 'mb-4', 'break-words');
            if (data.sender === "{{ request.user.username }}") {
                messageDiv.classList.add('message-sent');
            } else {
                messageDiv.classList.add('message-received');
            }
            messageDiv.innerHTML = `
                <div class="rounded-lg bg-blue-500 text-white py-2 px-4 max-w-xs">
                    <p class="font-semibold">${data.sender}</p>
                    <p>${data.private_message}</p>
                </div>
            `;
            messageContainer.appendChild(messageDiv);

            var textarea = document.querySelector('#message-container');
            textarea.scrollTop = textarea.scrollHeight;
        }
    }

    awsc.onclose = function(){
        console.log('connection closed');
    };

    document.getElementById('message-submit-btn').onclick = function(event){
        const messageInputDom = document.getElementById('message-input-text');
        const message = messageInputDom.value;
        console.log(message);
        awsc.send(JSON.stringify({
            'msg': message
        }));
        messageInputDom.value = '';
    };
</script>

</body>
</html>
