{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
</head>
<body>
    <header class="header">
        <nav>
            <div class="logo">
                <a href="{% url 'home:home' %}">
                    <span class="first-word">Py</span> Academia
                </a>
            </div>
        </nav>
    </header>
    <div class="parent-section">
        
        <div class="register-title">
            <h1>Make the most of your learning life</h1>
        </div>
        <div class="register-card">
            <form action="" method="post">
                {% csrf_token %}
                <label>Username</label>
                {{form.username}}
                <label>Email</label>
                {{form.email}}
                <label>Password</label>
                {{form.password1}}
                <label>Confirm Password</label>
                {{form.password2}}
                <p class="register-terms-para">By clicking Agree & Join, you agree to the LinkedIn <a href="">User Agreement,  Privacy Policy</a>, and <a href="">Cookie Policy.</a></p>
                    
                <button class="joinbtn" type="submit">Agree & Join</button>
            </form>

            <div class="horizontal-line">
                <p>or</p>
            </div>
            <div class="partylogin-auth">
                <div class="partylogin ">
                    <a href="{% provider_login_url 'google' %}">
                        <div class="party-title">
                            <p>Continue with Google</p>
                        </div>
                            <img src="{% static 'accounts/images/google-icon40.png' %}" alt="google-login-icon">
                    </a>
                </div>
    
                <div class="partylogin githublogin">
                    <a href="">
                        <div class="party-title">
                            <p>Continue with GitHub</p>
                        </div>
                            <img src="{% static 'accounts/images/github-icon45.png' %}" alt="github-login-icon">
                    </a>
                </div>
            </div>

            <div class="login">
                <p>Already on PyAcademia? <a href="{% url 'account_login' %}">Sign in</a></p>
            </div>


            
        </div>
    </div>
    
</body>
</html>