{% extends 'base.html' %}

{% block title %}
PyAcademia | blogs
{% endblock %}

{% block custom_styles %}
<style>
    body {
        font-family: 'Poppins', sans-serif;
    }
    .bg-primary {
        background-color: #4a90e2;
    }
    .text-primary {
        color: #4a90e2;
    }
    .hover-bg-primary:hover {
        background-color: #357bd8;
    }
    .hover-text-primary:hover {
        color: #357bd8;
    }
    .border-primary {
        border-color: #4a90e2;
    }
    .hover-border-primary:hover {
        border-color: #357bd8;
    }
    .btn-publish {
        background-color: #1abc9c;
        color: #fff;
        border: none;
        padding: 12px 24px;
        border-radius: 8px;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }
    .btn-publish:hover {
        background-color: #16a085;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mx-auto py-6">
    {% if messages %}
    <div class="messages mb-2">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <p class="w-full bg-indigo-600 text-white py-2 px-4 text-center">{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="flex justify-around items-center mb-8 ">
        <form class="flex justify-center items-center w-full " action="{% url 'articles:search_articles' %}" method="post" class="flex items-center mr-4">
            {% csrf_token %}
            <input type="text" id="search-query" name="search-query" placeholder="Search for blogs..." class=" w-3/4 rounded-md bg-gray-100 py-2.5 pr-10 shadow-sm sm:text-sm" />
            <button type="submit" class="text-gray-600 hover:text-gray-700 ml-2">
                <span class="sr-only">Search</span>
                <svg xmlns="http://www.w3.org/2000/svg"fill="none"viewBox="0 0 24 24"stroke-width="1.5"stroke="currentColor"class="h-4 w-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
                </svg>
            </button>
        </form>
        <a href="{% url 'articles:publish_article' %}" class="text-3xl flex items-center text-gray-700 hover:text-black">
            <i class="far fa-edit mr-2 text-3xl"></i>
            <span class="font-bold">Write</span>
        </a>
    </div>
    <h1 class="text-3xl font-semibold text-center mb-8">Latest Blogs</h1>
    <div class="sm:grid sm:grid-cols-1 md:grid md:grid-cols-3  gap-4">
        {% for article in articles %}
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img src="{{ article.article_thumbnail_image.url }}" alt="Blog Thumbnail" class="w-full h-64 object-cover object-center">
            <div class="p-4">
                <p class="text-gray-600 text-sm">{{ article.article_created|date:"M d, Y" }}</p>
                <h2 class="text-xl font-semibold mt-2 mb-4">{{article.article_title}}</h2>
                <div class="flex items-center justify-between">
                    <p class="text-gray-700">{{ article.author.username}}</p>
                    <a href="{% url 'articles:article_detail' article.id %}" class="bg-primary text-white px-4 py-2 rounded-lg hover-bg-primary hover-text-white transition-colors duration-300">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}