{% extends 'base.html' %}
{% load static %}


<!-- {% block extra_css %}

{% endblock %}
 -->

{% block content %}
<section class="px-14 mx-52 flex flex-col justify-center">
    <form class="flex flex-col justify-center gap-6" action="{% url 'articles:publish_article' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{article_form.media }}
        {{article_form.as_p}}
        <button class="py-4 px-10 bg-primaryColor text-[white] rounded">Publish</button>
    </form>
</section>
    
{% endblock %}