{% extends 'base.html' %}
{% load static %}


<!-- {% block extra_css %}

{% endblock %}
 -->

{% block content %}





<div class="container mx-auto py-12">

    <!-- Blog Creation Form -->
    <section class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-4xl font-semibold mb-8 text-center text-gray-800">Create Blog</h2>
        <form action="{% url 'articles:publish_article' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{article_form.media }}
            <div class="mb-8">
                <label for="blog-title" class="block input-label mb-2">Blog Title</label>
                {{article_form.article_title}}
            </div>
            <div class="mb-8">
                <label for="blog-thumbnail" class="block input-label mb-2">Blog Thumbnail Image</label>
                {{article_form.article_thumbnail_image}}
                <p class="text-sm text-gray-600 mt-2">Select an image to be used as the thumbnail for your blog.</p>
            </div>
            <div class="mb-8">
                <label for="blog-description" class="block input-label mb-2">Blog Description</label>
                {{article_form.article_description}}
            </div>
            <div class="mb-8">
                <label for="blog-content" class="block input-label mb-2">Blog Content</label>
                <!-- CKEditor can be integrated here for rich text editing -->
                <div class="w-full ">
                    {{article_form.article_body}}
                </div>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="btn-publish text-white py-3 px-12 rounded-lg bg-blue-600 focus:outline-none">Publish Blog</button>
            </div>
        </form>
    </section>

</div>



{% endblock %}