{% extends 'base.html' %}
{% load static %}

{% block title %}
PyAcademia | Feed
{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
 
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">Resources</h1>
    <div class="flex justify-center mb-8 gap-2">
        <!-- <a 
        {% if request.user.profile.skill %} href="{% url 'feed:feed' %}" {% else %} href="https://youtu.be/wR5_RhxDZGI?si=YuSLsLe4U1oLwBo4" target="_blank" {% endif %} 
        class="bg-indigo-500 text-white px-6 py-2 rounded-lg hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-400">
            related
        </a> -->
        
        
    </div>

    {% for book in books %}
    <div class="max-w-3xl mx-auto bg-white shadow-md rounded-lg overflow-hidden mb-6">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img class="h-full w-full object-cover md:w-60" src="{{ book.book_img.url }}" alt="Book Image">
            </div>
            <div class="p-8">
                <h1 class="block mt-1 text-2xl leading-tight font-semibold text-gray-900">{{book.book_title}}</h1>
                <p class="mt-2 text-gray-600">{{book.book_description}}</p>
                <p class="mt-4 text-gray-600">{{book.created_at}}</p>
                <div class="ml-4 mt-4">
                    <a href="{{ book.bookpdf.url }}" class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Download</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    

</div>
{% endblock %}
