
{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyAcademia | Home</title>
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% tailwind_css %}
    {% block tailwind_block %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
</head>
<body  class="font-sans bg-white">     
    <header class="flex justify-between items-center p-4 bg-[white] border border-red-2 lg:px-12">
        <div class="flex gap-10 items-center ">
            <a class="cursor-pointer text-3xl text-primaryColor" href="{% url 'home:home' %}">PyAcademia</a>
            <nav class="flex gap-4">
                <a class="text-anchorColor font-medium cursor-pointer hover:text-primaryColor" href="{% url 'home:home' %}">HOME</a> 
                <a class="text-anchorColor font-medium cursor-pointer hover:text-primaryColor" href="{% url 'feed:feed' %}">FEED</a> 
                <a class="text-anchorColor font-medium cursor-pointer hover:text-primaryColor" href="{% url 'network:network' %}">NETWORK</a> 
                <a class="text-anchorColor font-medium cursor-pointer hover:text-primaryColor" href="{% url 'articles:articles' %}">BLOGS</a> 
                <a class="text-anchorColor font-medium cursor-pointer hover:text-primaryColor" href="{% url 'projects:projects' %}">PROJECTS</a>
                <a class="text-anchorColor font-medium cursor-pointer hover:text-primaryColor" href="{% url 'resources:books' %}">RESOURCES</a>
                <a class="text-anchorColor font-medium cursor-pointer hover:text-primaryColor" href="{% url 'chat:chat' %}">CHAT</a>
            </nav>
        </div>
        <form action="{% url 'feed:search' %}" method="post">
            {% csrf_token %}
            <div class="relative">
                <label for="Search" class="sr-only"> Search </label>
              
                <input
                  type="text"
                  id="search-query" name="search-query"
                  placeholder="Search for..."
                  class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm"
                />
              
                <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
                  <button type="submit" class="text-gray-600 hover:text-gray-700">
                    <span class="sr-only">Search</span>
              
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-4 w-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                      />
                    </svg>
                  </button>
                </span>
              </div>
            <!-- <input type="text" placeholder="search PyAcademia" name="search-query">
            <button type="submit">search</button> -->
        </form>

        <div class="flex items-center justify-center rounded-full border border-primaryColor w-12 h-12">
            <a href="{% url 'accounts:profile'%}" class="flex items-center justify-center">
                <i class="fa-solid fa-user text-primaryColor text-2xl"></i>
            </a>
        </div>
    

        <!-- <div>
            <i class="fa-solid fa-magnifying-glass text-anchorColor text-lg cursor-pointer"></i>
        </div> -->
        
    </header>
    {% block content %}
    
    {% endblock %}
</body>
</html>
