
{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
        
    </title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    {% tailwind_css %}
    {% block tailwind_block %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}
    {% block custom_styles %}
    {% endblock %}
    <style>
        

      @media (min-width: 1024px) {
          #menu-toggle {
              display: none;
          }
          #mobile-menu {
            display: none;
          }
      }
      
  </style>

</head>
<body  class="font-sans font-medium bg-gray-50">       
  <header class="bg-white shadow-md mb-4 fixed top-0 w-full">
    <div class="container mx-auto flex justify-between items-center p-4 lg:px-12">
        <a class="cursor-pointer text-3xl text-indigo-600 font-bold" href="{% url 'home:home' %}">PyAcademia</a>
        <nav class="hidden lg:flex gap-4">
            <a class="{% if request.path == '/' %}text-indigo-600 {% else %} text-gray-600 {% endif %}  font-medium cursor-pointer hover:text-indigo-600" href="{% url 'home:home' %}">HOME</a> 
            <a class="{% if request.path == '/feed/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'feed:feed' %}">FEED</a> 
            <a class="{% if request.path == '/network/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'network:network' %}">NETWORK</a> 
            <a class="{% if request.path == '/blogs/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'articles:articles' %}">BLOGS</a> 
            <a class="{% if request.path == '/projects/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'projects:projects' %}">PROJECTS</a>
            <a class="{% if request.path == '/resources/videos/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'resources:resources' %}">RESOURCES</a>
            <!-- <a class="{% if request.path == '/chat/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600" href="{% url 'chat:chat' %}">Discussion</a> -->
            <a class="{% if request.path == '/chat/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600"
   href="{% url 'chat:chat' %}">
   Discussion
</a>
        </nav>
        <div class="flex items-center lg:flex lg:items-center space-x-4">
           
            <div class="flex items-center justify-center rounded-full border border-indigo-600 w-12 h-12">
                <a href="{% url 'accounts:profile' request.user.id %}" class="flex items-center justify-center">
                    {% if request.user.profile.profile_img %}
                        <img src="{{ request.user.profile.profile_img.url }}" alt="User" class="h-10 w-10 rounded-full">
                    {% else %}
                    <i class="fas fa-user text-indigo-600 text-2xl"></i>
                    {% endif %}
                </a>
                
            </div>
            <div class="flex items-center justify-center">
                <a href="{% url 'account_logout' %}" class="text-gray-600 hover:text-gray-800">
                    <i class="fas fa-sign-out-alt text-2xl text-indigo-500"></i>
                </a>
            </div>
        </div>
        <div class="lg:hidden">
            <button id="menu-toggle" class="text-gray-600 hover:text-gray-700 focus:outline-none">
                <i class="fas fa-bars text-2xl"></i>
            </button>
        </div>
    </div>
    <nav id="mobile-menu" class="hidden lg:hidden bg-white shadow-md p-4 space-y-2">
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'home:home' %}">HOME</a> 
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'feed:feed' %}">FEED</a> 
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'network:network' %}">NETWORK</a> 
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'articles:articles' %}">BLOGS</a> 
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'projects:projects' %}">PROJECTS</a>
        <a class="block text-gray-600 font-medium cursor-pointer hover:text-indigo-600" href="{% url 'resources:resources' %}">RESOURCES</a>
        <a class="{% if request.path == '/chat/' %}text-indigo-600 {% else %} text-gray-600 {% endif %} font-medium cursor-pointer hover:text-indigo-600"
        href="{% url 'chat:chat' %}">Discussion</a>
        
    </nav>
</header>


        <main class="mt-20">
        {% block content %}
        {% endblock %}
        </main>


        <script>
            document.getElementById('menu-toggle').addEventListener('click', function() {
                var menu = document.getElementById('mobile-menu');
                menu.classList.toggle('hidden');
            });
            
        </script>
        {% block extra_javascript %}
        
        {% endblock %}

    </body>
</html>
