{% extends 'base.html' %}
{% load static %}

{% block title %}
    PyAcademia | {{post.title}}            
{% endblock %}


{% block content %}

    <div class="container mx-auto py-6">
        <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-md p-6">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        <p class="w-full bg-indigo-600 text-white py-2 px-4 text-center">{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

            <div class="flex justify-end items-center mb-4">
                <div class="flex space-x-2">
                    {% if request.user == post.author %}
                    <a href="{% url 'posts:update-post' post.id %}" class="bg-indigo-500 text-white py-1 px-3 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600">Update</a>
                    <a href="{% url 'posts:delete-post' post.id %}" class="bg-red-500 text-white py-1 px-3 rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600">Delete</a>
                    {% endif %}
                </div>
            </div>
            
            <div class="mb-4 flex items-center justify-between">
                <div class="flex items-center">
                    {% if post.author.profile.profile_img %}
                        <img src="{{ post.author.profile.profile_img.url }}" alt="User" class="h-10 w-10 rounded-full">
                    {% else %}
                        <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="User" class="h-10 w-10 rounded-full">
                    {% endif %}
                        <div class="ml-4">
                        <h2 class="text-lg font-semibold">{{ post.author.username }}</h2>
                        <p class="text-gray-600 text-sm">{{ post.created_at }}</p>
                    </div>
                </div>
            </div>
            
            
            <p class="text-lg leading-relaxed text-gray-800 mb-6">{{ post.title }}</p>
            {% if post.description %}
                <p class="text-lg leading-relaxed text-gray-800 mb-6 break-words">{{ post.description }}</p>
            {% endif %}
            <div class="mb-6">
                {% if post.post_img %}
                <img src="{{ post.post_img.url }}" alt="Post Image" class="w-full h-auto rounded-lg object-cover">

            {% endif %}

            </div>
        </div>
    </div>

    <div class="container mx-auto py-2">
        <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-md p-2">
            <form action="{% url 'posts:detail-post' post.id %}" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="comment" class="block text-gray-700 font-semibold mb-2">Comment</label>
                    {{comment_form.comment_body}}
                    
                </div>
                
                <div class="flex justify-end">
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container mx-auto py-2">
        <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-md p-6">
            {% for comment in comments %}
                <h2 class="text-sm">{{comment.author.username}}--------{{comment.comment_body}}</h2>

            {% endfor %}
        </div>
    </div>

    {% endblock %}
